<h2>Database for project and volunteer tracking.</h2>
<h3>View a list of current projects below and add new projects to the database.</h3>

<h3>Active Projects</h3>
<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no active projects to display.</p>
<% end %>

<h4>Add a new project:</h4>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project Title:</label>
    <input name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Create Project</button>
</form>
