body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqTnZnsg7EN9R_pzQMu7Oteq2v7a0i8vW1d4pz5YvdkHG82Q2qeQ&s");
  font-family: 'Quicksand', sans-serif;
  color: #00004d;
}

h1 {
  font-weight: 700;
  text-align: center;
}

.card {
  background-color:  #cce6ff;
  min-height: 400px;
  padding: 40px;
  padding-top: 20px;
  border: solid;
  border-radius: 6px;
}

.jumbotron {
  margin-top: 40px;
  background-color:  #cce6ff;
  border: solid;
}
